
<section id="subheader">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          PROJECTS
        </h1>
      </div>
      <!-- devider -->

      <div class="col-md-12">
        <div class="devider-page">
          <div class="devider-img-right">
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <ul class="subdetail">
          <li>
            <a href="/">Home</a>
          </li>

          <li class="sep">/
          </li>

          <li>Results
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="whitepage no-top" id="projects">
  <div class="container">
    <div class="row">

      <!-- filter project -->
      <div class="onStep" data-animation="fadeInUp" data-time="300">
        <div class="filter-wraper text-center">
          <ul id="filter-porto">
            <li class="filt-projects selected" data-project="*">ALL PROJECTS
            </li>

            <li class="space">.
            </li>
          </ul>
        </div>
      </div>
      <!-- filter project end -->

      <!-- start gallery -->



      <div class="no-gutter onStep" data-animation="fadeInUp" data-time="600" id="projects-wrap">
        <% @posts.each_with_index do |post, index| %>
          <%= render partial: 'partials/post_list_item', locals: {post: post.decorate} %>
        <% end %>
      <!-- gallery end -->
    </div>
  </div>
</div>
</section>
