<article id="post" style="margin-top:120px;">
    <header class="entry-header">
      
    </header><!-- .entry-header -->
    <div class="entry-content">
        <%= raw @post.the_content %>
    </div><!-- .entry-content -->
    <footer class="entry-meta">
        <!-- custom fields -->
        <% if @post.render_fields.present? %>
            <hr>
            <h4><%= ct("extra_attributes", default: 'Extra Attributes') %></h4>
            <%= raw @post.render_fields %>
        <% end %>
    </footer><!-- .entry-meta -->
</article><!-- #post -->
<%= render partial: 'partials/comments', locals: {post: @post} if @post.can_commented? %>
