<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Admin an inquiry have been issued at crea by <%= @name %></h1>
    <p>
      With contact email  <%= @email %>.<br>
    </p>
    <h4>Message content:</h4>
    <p>
      <%= @content %>.
    </p>
  </body>
</html>
