<section id="subheader">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          About Us
        </h1>
      </div>

      <!-- devider -->
      <div class="col-md-12">
        <div class="devider-page">
          <div class="devider-img-right"></div>
        </div>
      </div>

      <div class="col-md-12">
        <ul class="subdetail">
          <li><a href="index.html">Home</a></li>
          <li class="sep">/</li>
          <li>About</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section aria-label="about" class="whitepage no-bottom" id="about">
  <div class="container">
    <div class="row">
      <div class="onStep" data-animation="fadeInUp" data-time="900" id="services">
        <div class="service passion">
          <img alt="img" class="img-responsive" src="/assets/img/gallery-home/crea5.jpg">
        </div>
      </div>

      <div class="col-xs-12">
        <div class="onStep" data-animation="fadeInUp" data-time="300">
          <article>
            <h2>Who we are</h2>
            <span class="devider-cont"></span>
            <p>
              <em>Crea Construction & Interior Design Group  was established in Miami, FL and has grown over the years to become a leader in the construction and  design industry . We implement new and innovative ideas that continuously distinguish our firm.</em>
            </p>

            <p>
              <em>We pride ourselves on having a diverse portfolio of clientele in the residential and commercial markets. Delivering the highest level of service to our clients, we balance aesthetics, function and budgets with exceptional design solutions.</em>
            </p>

            <p>
              <em>Crea Construction & Interior Design Group seamlessly manages all aspects of a project by working closely with each client and their design team. The level of service, integrity, and professional experience assures that the end results will exceed expectations.</em>
            </p>
          </article>
        </div>
        <div class="space-half"></div>
      </div>
      <!-- text end -->
    </div>
  </div>
</section>



<section class="whitepage" id="team">
  <!-- team -->
  <div class="container">
    <div class="row">
      <div class="onStep" data-animation="fadeInUp" data-time="200">
        <div class="col-md-6 .col-sm-6">
          <div class="team-wrapper">
            <img alt="team img 1" class="img-responsive" src="/assets/img/team-img1.jpg">
            <div class="team-des">
              <h3>John Doe</h3>
              <span>Project Manager</span> <a href="#"><span class="ti-facebook"></span></a> <a href="#"><span class="ti-twitter"></span></a> <a href="#"><span class="ti-linkedin"></span></a>
            </div>
        </div>
      </div>

      <div class="col-md-6 .col-sm-6">
        <div class="team-wrapper">
          <img alt="team img 4" class="img-responsive" src="/assets/img/team-img4.jpg">
          <div class="team-des">
            <h3>Renita</h3>
            <span>Project Director</span> <a href="#"><span class="ti-facebook"></span></a> <a href="#"><span class="ti-twitter"></span></a> <a href="#"><span class="ti-linkedin"></span></a>
          </div>
        </div>
      </div>
     </div>
    </div>
  </div>
  <!-- team end -->
</section>
<!-- section team end -->
