
<section aria-label="home" class="mainbg" id="home">

    <!-- intro -->
    <div class="container">
      <div class="row">
          <div class="overlay-main v-align">
              <div class="col-md-10 col-xs-11">
                  <h1 class="" data-animation="animbouncefall" data-time="300">Crea Construction & Interior Design Group</h1>
                  <a href="about.html">
                    <p class="" data-animation="animbouncefall" data-time="900" >Crea Construction & Interior Design Group seamlessly manages all aspects of a project by working closely with each client and their design team. The level of service, integrity, and professional experience assures that the end results will exceed expectations...</p>
                  </a>
              </div>
          </div>
      </div>
     </div>
  <!-- intro end -->
</section>

<div class="bot-home-text" data-animation="fadeInUp" data-time="400">
  <div class="container">
      <div class="row">
        <div id="owl-gal" class="owl-carousel">
          <div class="item">
              <div class="gal-home">
                  <a href="img/gallery-home/big/img1.jpg">
                    <div class="hovereffect">
                      <img alt="imageportofolio" class="img-responsive" src="/assets/img/gallery-home/crea2.jpg">
                  </div>
                </a>
              </div>
            </div>

            <div class="item">
              <div class="gal-home">
                  <a href="project-detail.html">
                  <div class="hovereffect">
                      <img alt="imageportofolio" class="img-responsive" src="/assets/img/gallery-home/crea3.jpg">
                  </div>
                </a>
              </div>
            </div>

            <div class="item">
              <div class="gal-home big-img">
                  <a href="img/gallery-home/big/img3.jpg">
                  <div class="hovereffect">
                      <img alt="imageportofolio" class="img-responsive" src="/assets/img/gallery-home/crea4.jpg">
                  </div>
                </a>
              </div>
            </div>

            <div class="item">
              <div class="gal-home">
                  <a href="project-detail.html">
                  <div class="hovereffect">
                      <img alt="imageportofolio" class="img-responsive" src="/assets/img/gallery-home/crea6.jpg">
                  </div>
                </a>
              </div>
            </div>

            <div class="item">
              <div class="gal-home big-img">
                  <a href="img/gallery-home/big/img1.jpg">
                  <div class="hovereffect">
                      <img alt="imageportofolio" class="img-responsive" src="/assets/img/gallery-home/crea2.jpg">
                  </div>
                </a>
              </div>
            </div>

            <div class="item">
            <div class="gal-home">
                  <a href="project-detail.html">
                  <div class="hovereffect">
                    <img alt="imageportofolio" class="img-responsive" src="/assets/img/gallery-home/crea3.jpg">
                  </div>
                </a>
              </div>
            </div>

            <div class="item">
              <div class="gal-home big-img">
                  <a href="img/gallery-home/big/img3.jpg">
                  <div class="hovereffect">
                      <img alt="imageportofolio" class="img-responsive" src="/assets/img/gallery-home/crea4.jpg">
                  </div>
                </a>
              </div>
            </div>

            <div class="item">
              <div class="gal-home">
                  <a href="project-detail.html">
                  <div class="hovereffect">
                    <img alt="imageportofolio" class="img-responsive" src="/assets/img/gallery-home/crea6.jpg">
                  </div>
                </a>
              </div>
            </div>
        </div>
      </div>
  </div>
  </div>

  <section id="step-page" class="step-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="text-center">
                  <h2>What we do</h2>
                  <span class="devider-center"></span>
                  <div class="space-single"></div>
              </div>
            </div>

            <!-- step menu -->
            <div class="onStep" data-animation="fadeInUp" data-time="300">
              <div class="step-mains">

                <div class="col-md-4 step-main">
          <div class="step-main">
            <a class="filt-step" data-filter=".planing"><span>Concept Designs</span></a>
          </div>
        </div>

                <div class="col-md-4 step-main">
          <div class="step-main">
            <a class="filt-step" data-filter=".concept"><span>Build Services</span></a>
          </div>
        </div>

                <div class="col-md-4 step-main">
          <div class="step-main">
            <a class="filt-step" data-filter=".construct"><span>Remodeling & Renovation’s</span></a>
          </div>
        </div>
              </div>
            </div>
            <!-- step menu end -->

          <!-- step content -->
          <div id="step-text" class="col-md-12">
            <div class="cont planing">
                <div class="text-center">
                  <p class="text2">Whether we’re building a custom residence or renovating an existing home or condo  we make sure that even the smallest details represent the classic craftsmanship we’re known for producing.</p>
                </div>
              </div>

            <div class="cont concept">
                <div class="text-center">
                  <p class="text2">Quality, affordability and sustainability are an integral part of our design and construction. Large or small or somewhere in between, a unique and special home can be yours with Crea Construction & Interior Design Group.</p>
                </div>
              </div>

            <div class="cont construct">
                <div class="text-center">
                  <p class="text2">Our services includes: New Home Construction, Design & Build Services, Kitchen Design & Remodeling, Bathroom Design & Remodeling, House Remodeling & Renovation’s, Addition’s , New Condo Finish Package & Add On’s.</p>
                </div>
              </div>
            </div>
            <!-- step content end -->
          </div>
      </div>
  </section>
