<section id="subheader">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          What we do
        </h1>
      </div>

      <!-- devider -->
      <div class="col-md-12">
        <div class="devider-page">
          <div class="devider-img-right">
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <ul class="subdetail">
          <li>
            <a href="index.html">Home</a>
          </li>

          <li class="sep">/
          </li>

          <li>CONSULTING
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="services whitepage">
  <div class="container">
    <div class="row">

        <!-- <div class="row"> -->
          <div class="onStep" data-animation="fadeInUp" data-time="300">
            <img alt="imgservices" class="img-responsive" src="/assets/img/serv.jpg">

            <div class="col-md-12">
            <p>
              <em>Whether we’re building a custom residence or renovating an existing home or condo  we make sure that even the smallest details represent the classic craftsmanship we’re known for producing.

             Quality, affordability and sustainability are an integral part of our design and construction. Large or small or somewhere in between, a unique and special home can be yours with Crea Construction & Interior Design Group.</em>
            </p>

            <p>
             Our services includes: New Home Construction, Design & Build Services, Kitchen Design & Remodeling, Bathroom Design & Remodeling, House Remodeling & Renovation’s, Addition’s , New Condo Finish Package & Add On’s.
            </p>
          </div>

          <div class="col-md-12">
            <blockquote>
              General contractor Miami companies should provide a full line of services to make the construction project faster and easier for homeowners. Crea Construction & Interior Design Group  understands the legal requirements for building a new home, condo  or remodeling an older one, leading to us applying for the permits from local government offices. We prepare accurate blueprints and drafts for each project before the building permit process begins. Our design team meets with clients to discuss their plans for a new home or condo, remodel or addition to understand their needs. We strive to make each construction project unique by adding small details that homeowners may not have considered.
            </blockquote>
          </div>
        </div>
      </div>
    </div>
</section>
