<section id="subheader">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          What we do
        </h1>
      </div>

      <!-- devider -->
      <div class="col-md-12">
        <div class="devider-page">
          <div class="devider-img-right">
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <ul class="subdetail">
          <li>
            <a href="index.html">Home</a>
          </li>

          <li class="sep">/
          </li>

          <li>CONSULTING
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

 <!-- services -->
      <section class="services whitepage">
        <div class="container">
          <div class="row">

            <div id="serv1" class="col-md-9">
              <div class="row">
                <div class="col-md-12 onStep" data-animation="fadeInUp" data-time="300">
                  <img alt="imgservices" class="img-responsive" src="/assets/img/projects/about-history2.jpg">
                  <h2>
                    CONSULTING <span class="color">BUILDING</span>
                  </h2>

                  <p>
                    <em>An international firm of architects, planners and interior designers specialising in a wide range of commercial, residential and public sector projects.</em>
                  </p>

                  <p>
                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
                  </p>
                </div>

                <div class="col-md-12">
                  <blockquote>
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec
                    elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                  </blockquote>
                </div>

                <div class="col-md-12">
                  <p>
                    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam.
                  </p>
                </div>
              </div>
            </div>

            <div id="serv2" class="col-md-9" style="display: none;">
              <div class="row">
                <div class="col-md-12 onStep" data-animation="fadeInUp" data-time="300">
                  <h2>
                    ARCHITECTURE <span class="color">BUILDING</span>
                  </h2>

                  <p>
                    <em>An international firm of architects, planners and interior designers specialising in a wide range of commercial, residential and public sector projects.</em>
                  </p>
                  <img alt="imgservices" class="img-responsive" src="/assets/img/projects/architecture.jpg">
                   <p>
                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
                  </p>
                </div>

                <div class="col-md-12">
                  <blockquote>
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec
                    elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                  </blockquote>
                </div>

                <div class="col-md-12">
                  <p>
                    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam.
                  </p>
                </div>
              </div>
            </div>

            <div id="serv3" class="col-md-9" style="display: none;">
              <div class="row">
                <div class="col-md-12">
                  <p>
                    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam.
                  </p>
                </div>

                <div class="col-md-12">
                  <blockquote>
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec
                    elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                  </blockquote>
                </div>

                <div class="col-md-12 onStep" data-animation="fadeInUp" data-time="300">
                  <img alt="imgservices" class="img-responsive" src="/assets/img/projects/design.jpg">
                  <h2>
                    DESIGN <span class="color">& BUILD</span>
                  </h2>

                  <p>
                    <em>An international firm of architects, planners and interior designers specialising in a wide range of commercial, residential and public sector projects.</em>
                  </p>

                  
                  <p>
                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-3 onStep" data-animation="fadeInUp" data-time="600">
              <div class="widget">
                <ul id="services-list">

                  <li id="li1" class="active">
                    <a class="serv1">CONSULTING BUILDING</a>
                  </li>

                  <li id="li2">
                    <a class="serv2">ARCHITECTURE</a>
                  </li>

                  <li id="li3">
                    <a class="serv3">DESIGN & BUILD</a>
                  </li>
                </ul>
              </div>

              <div class="widget">
                <div class="download-brochure">
                  <h3>
                    DOWNLOAD BROCHURE
                  </h3>

                  <div class="btn-download onStep" data-animation="fadeInRight" data-time="600">
                    <a class="link-class" href="#">DOWNLOAD NOW</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

