<!DOCTYPE html>
<html>
  <head>
    <title>Crea</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content-wrapper">

        <!-- nav -->
        <div class="navbar navbar-default-white navbar-fixed-top">
          <div class="container">
            <div class="row">

                <!-- menu mobile display -->
                <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                  <span class="icon icon-bar"></span>
                  <span class="icon icon-bar"></span>
                  <span class="icon icon-bar"></span>
                </button>

                <!-- logo -->
                <a class="navbar-brand white" href="index-white.html"><img alt="logo" src="/assets/img/logo-01.png"></a>

                <!-- mainmenu start  -->
                <div class="white menu-init" id="main-menu">
                  <nav id="menu-center">
                      <ul>
                        <li><a class="actived" href="/home">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li class="btn"><a class="popup-form" href="#subwrap">Subscribe</a></li>
                      </ul>
                  </nav>
                </div>
                <!-- mainmenu end -->
            </div>
          </div>
          <!-- container -->
        </div>
        <!-- nav end -->


          <%= yield %>
        <!-- footer -->
        <footer class="white">
          <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <address>
                        <span><i  class="fa fa-map-marker" aria-hidden="true"></i>1756 n bayshore dr  #7A, MIAMI FL 33132</span>
                            <span><i class="fa fa-phone" aria-hidden="true"></i> 786.5540026 Maximiliano  Alvarez</span>
                            <span><i  class="fa fa-envelope-o" aria-hidden="true"></i><a href=
                        "mailto:companyname@gmail.com"> companyname@gmail.com</a></span>
                    </address>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="right">
                      <div class="social-icons">
                          <a href="#"><span class="ti-facebook"></span></a> <a href="#"><span class="ti-dribbble"></span></a> <a href="#"><span class="ti-twitter"></span></a> <a href="#"><span class="ti-linkedin"></span></a>
                      </div>
                      <div class="btn"><a class="popup-form" href="#subwrap">Subscribe</a></div>
                    </div>
                </div>
              </div>
          </div>
        </footer>


        <div class="white-popup-block mfp-hide animbounceInDown" data-time="0" id="subwrap">
        		<h5>
          		PLEASE FILL YOUR EMAIL BELOW
        		</h5>
        		<div class="space-half"></div>
        		<form action="subscribe.php" id="subscribe" method="post" name="subscribe">
          		<input class="subscribfield subscribeemail" id="subscribeemail" name="subscribeemail" type="text"> <button class="btn-form" id="submit-2" type="submit">Subscribe</button>
        		</form>
  			<div class="subscribesuccess">
          		Thank you for fill your email
    		</div>
      	</div>
        <!-- footer end -->
        </div>
    <!-- content wraper end -->


  </body>
</html>
